ion-toolbar {
  height: 50px;
  --background: #44a4e0;
  text-align: center;
  display: flex;
  align-items: center;
  img {
    width: 200px;
    height: 34px;
    // margin-left: 25%;
  }
  ion-back-button {
    color: white;
    font-size: 18px;
  }
}

.back {
  height: 50px;
  background-color: #44a4e0;
}

.back2 {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.terms {
  h1 {
    text-align: center;
  }
  width: 300px;
}
