.text {
  margin-left: 5%;
  margin-right: 5%;
  ion-text {
    h3 {
      padding-top: 5px;
      padding-bottom: 5px;
      border: 2px solid var(--ion-color-medium);
      border-radius: 10px;
    }
  }
}

.input {
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.input ion-item {
  border-radius: 5px;
  margin-bottom: 15px;
}

ion-icon {
  margin: 5px;
}

.err {
  width: 100%;
  // border: 1px solid red;
  text-align: center;
  color: red;
  p {
    margin-top: 5px;
    margin-bottom: 0%;
  }
}

ion-button {
  width: 80%;
  height: 45px;
  font-size: 1.3em;
  margin-left: 10%;
  vertical-align: middle;
}
