<ion-header class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text">
    <ion-text class="ion-text-center">
      <h3>{{method}}</h3>
    </ion-text>
  </div>
  <div class="input">
    <ion-row>
      <ion-col size="3" class="ion-text-center">
        <p>금액</p>
      </ion-col>
      <ion-col size="9" class="ion-text-right">
        <ion-input type="number" placeholder="후원금액을 입력하세요" [(ngModel)]=pay></ion-input>
      </ion-col>
    </ion-row>
  </div>
  <div class="btn">
    <ion-text color="red" class="ion-text-center">
      <p>{{error_msg}}</p>
    </ion-text>
  </div>
  <ion-button (click)="moveToMy_info()" expand="block" shape="round" color="success">
    후원 하기
  </ion-button> 
</ion-content>
