ion-toolbar {
  height: 50px;
  --background: #44a4e0;
  text-align: center;
  display: flex;
  align-items: center;
  img {
    width: 200px;
    height: 34px;
    // margin-left: 25%;
  }
  ion-back-button {
    color: white;
    font-size: 18px;
  }
}

.back {
  height: 50px;
  background-color: #44a4e0;
}

.back2 {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-right: 0px;
}

.info {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  margin-right: 0px;
  justify-content: center;
  border: 1px solid rgba($color: #c4c4c4, $alpha: 0.5);
  margin-top: 20px;
  border-radius: 10px;
  h3 {
    width: 300px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin: 0px;
    padding-top: 10px;
  }
  .h3 {
    border-bottom: 1px solid rgba($color: #c4c4c4, $alpha: 0.5);
  }
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: auto;
  margin-top: 36px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid rgba($color: #c4c4c4, $alpha: 0.5);
  border-radius: 10px;
}

.input .inp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 40px;
  background-color: #f4f5f7;
  border-radius: 10px;
  margin-bottom: 18px;
}

.inp2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 40px;
  background-color: #f4f5f7;
  border-radius: 10px;
  margin-bottom: 0px;
}

.inp ion-input {
  padding-left: 0px;
}

ion-icon {
  margin: 5px;
  zoom: 1.5;
  color: #c4c4c4;
}

.btn {
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.btn ion-button {
  width: 100%;
  height: 40px;
  font-size: 18px;
  border-radius: 10px;
}

.err {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 0%;
  p {
    margin: 0px;
    margin-bottom: 12px;
  }
}
