<ion-content>
  <ion-list class="ion-margin" lines="none">
    <ion-item class="ion-margin-vertical">
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-input type="text" placeholder="이름" size="6" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-vertical">
      <ion-icon slot="start" name="call-outline"></ion-icon>
      <ion-input type="text" placeholder="전화번호" size="6" [(ngModel)]="call"></ion-input>
    </ion-item>
    <ion-text class="ion-text-center">
      <p>{{error_msg}}</p>
    </ion-text>
    <ion-button color="success" (click)="moveToFind_email()" expand="block" shape="round">
      아이디 찾기
    </ion-button>
  </ion-list>
</ion-content>
