<ion-content>
  <ion-list class="ion-margin" lines="none">
    <ion-item>
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-input type="text" placeholder="이름" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="call-outline"></ion-icon>
      <ion-input type="text" placeholder="전화번호" [(ngModel)]="call_num"></ion-input>
    </ion-item>

    <ion-text class="ion-text-center">
      <p>{{error_msg}}</p>
    </ion-text>
  </ion-list>
  <ion-button color="success" (click)="moveToFind_email()" expand="block" shape="round">
    아이디 찾기
  </ion-button>
</ion-content>
