.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  h1 {
    margin-top: 45px;
    margin-bottom: 38px;
    text-align: center;
  }
  p {
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 18px;
    text-align: center;
  }
}

ion-segment {
  border: 1px solid rgba($color: #c4c4c4, $alpha: 0.5);
  background-color: white;
  width: 84%;
  height: 40px;
  margin-top: 20px;
  font-size: 16px;
  ion-segment-button {
    font-size: 1rem;
    margin: 0px;
    --border-width: 0;
    --padding-start: 0px;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-top: 0px;
    --background-checked: var(--ion-color-blue);
    --indicator-color: transparent !important;
    --color-checked: var(--ion-color-white);
  }
}

.pay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 84%;
  height: 120px;
  border: 1px solid rgba($color: #c4c4c4, $alpha: 0.5);
  margin-top: 16px;
  border-radius: 10px;
}

.input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-size: 18px;
    margin-left: 12px;
    margin-right: 12px;
  }
}

.inp {
  width: 256px;
  height: 40px;
  background-color: #f4f5f7;
  border-radius: 10px;
  margin-left: 11px;
  text-align: right;
  padding-right: 10px;
}

ion-button {
  width: 280px;
  height: 40px;
  border-radius: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.err {
  color: red;
  font-size: 12px;
  margin: 0px;
}
