ion-segment {
  width: 90%;
  margin-top: 20px;
  margin-left: 5%;
  // --background: none;
  ion-segment-button {
    font-size: 1rem;
    --border-width: 0;
    --padding-start: 8px;
    --padding-bottom: 5px;
    --padding-end: 8px;
    --padding-top: 5px;
    --background-checked: var(--ion-color-blue);
    --indicator-color: transparent !important;
    --color-checked: var(--ion-color-white);
  }
}

.input {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 30%;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 2px solid var(--ion-color-medium);
  border-radius: 15px;
  .cost {
    margin-top: 10px;
    font-size: 1em;
    margin-left: 10px;
    width: 20%;
  }
  .o {
    margin-top: 10px;
    font-size: 1em;
    padding: 0%;
    margin-left: 10px;
    width: 20%;
  }
  ion-input {
    text-align: right;
    margin-left: 20px;
    width: 90%;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid var(--ion-color-medium);
  }
}
.btn {
  width: 80%;
  margin-top: 20%;
  margin-left: 10%;
  p {
    font-size: 0.8rem;
    color: red;
  }
}
ion-button {
  width: 80%;
  height: 45px;
  font-size: 1.3em;
  margin-left: 10%;
}
