<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="selectTabs" mode="ios">
    <ion-segment-button value="temporary">
      <ion-label>일시 후원</ion-label>
    </ion-segment-button>
    <ion-segment-button value="regular">
      <ion-label>정기 후원</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="pay">
    <div class="input">
      <ion-row>
        <ion-col size="3" class="ion-text-center">
          <p>금액</p>
        </ion-col>
        <ion-col size="9" class="ion-text-right">
          <ion-input
            type="number"
            placeholder="후원금액을 입력하세요"
            [(ngModel)]="pay"
          ></ion-input>
        </ion-col>
      </ion-row>
    </div>
    <div class="btn">
      <ion-text color="red" class="ion-text-center">
        <p>{{error_msg}}</p>
      </ion-text>
    </div>
    <ion-button
      (click)="moveToMy_info()"
      expand="block"
      shape="round"
      color="success"
    >
      후원 하기
    </ion-button>
  </div>
</ion-content>
