<app-header></app-header>

<ion-content>
  <ion-segment [(ngModel)]="selectTabs" mode="ios">
    <ion-segment-button value="temporary">
      <ion-label>일시 후원</ion-label>
    </ion-segment-button>
    <ion-segment-button value="regular">
      <ion-label>정기 후원</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="pay">
    <div class="input">
      <div class="cost">금액</div>
      <div class="input_pay">
        <ion-input
          type="number"
          placeholder="금액을 입력하세요"
          [(ngModel)]="pay"
        ></ion-input>
      </div>
      <div class="o">원</div>
    </div>
    <div class="err">
      <p>{{error_msg}}</p>
    </div>
    <div class="btn"></div>
    <ion-button (click)="moveToMy_info()" expand="block" color="main">
      <p>후원 하기</p>
    </ion-button>
  </div>
</ion-content>
