<ion-header>
  <ion-toolbar> </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img class="img" src="assets/icon/Asset 2.svg" alt="" />
    </ion-card-header>

    <ion-card-content>
      <div class="top"> 
        <div>
          <p>이름</p>
          <h1>{{name}}</h1>
        </div>
        <div>
          <p>코드</p>
          <h1>KC1001</h1>
        </div>
      </div>
      <br />
      <div class="bottom">
        <p>소속</p>
        <h1>아이원솔루션</h1>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
