// .img {
//   animation: rotate_image 6s linear infinite;
//   transform-origin: 50% 50%;
// }

// @keyframes rotate_image {
//   100% {
//     transform: rotate(360deg);
//   }
// }

.div {
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-card {
  border: 1px solid #44a4e0;
  width: 90%;
  margin-left: 5%;
}

ion-card-content {
  border-top: 2px solid #44a4e0;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
h1 {
  color: black;
}
