<!-- <app-backheader> </app-backheader> -->
<ion-header>
  <ion-toolbar>
    <div class="back2">
      <img src="assets/icon/Asset 7.svg" alt="" />
    </div>
    <div class="back">
      <ion-buttons slot="start">
        <ion-back-button icon="chevron-back-outline"></ion-back-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <p>내 계정</p>
    <ion-text class="out" (click)="moveToLogout()"> 로그아웃 </ion-text>
    <ion-text class="del" (click)="moveToDelete()"> 회원 탈퇴 </ion-text>
  </div>
  <div class="container">
    <p>이용약관</p>
    <ion-text class="auth" (click)="moveToTerms()"> 이용약관 </ion-text>
    <ion-text (click)="moveToPolicy()"> 개인정보처리방침 </ion-text>
  </div>
</ion-content>
