<ion-content [fullscreen]="true">
  <ion-list lines="none" class="ion-margin">
    <ion-item>
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-input type="text" placeholder="이메일" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-input [type]="showPw ? 'text' : 'password' " placeholder="비밀번호" class="pw" [(ngModel)]="pw"></ion-input>
      <ion-icon slot="end" [name]="PwToggleIcon" (click)="togglepw()"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="bag-check-outline"></ion-icon>
      <ion-input [type]="showPw ? 'text' : 'password' " placeholder="비밀번호 확인" class="pw" [(ngModel)]="check_pw"></ion-input>
      <ion-icon slot="end" [name]="PwToggleIcon" (click)="togglepw()"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-input type="text" placeholder="이름" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="calendar-number-outline"></ion-icon>
      <ion-label>생년월일</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" value="2012-12-15" [(ngModel)]="date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="call-outline"></ion-icon>
      <ion-input type="text" placeholder="전화번호" [(ngModel)]="call_num"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" [name]="checkmark" (click)="togglecheck()"></ion-icon>
      <ion-label>사업자입니까?</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="business-outline"></ion-icon>
      <ion-input disabled="{{isDisabled}}" type="text" placeholder="회사명" [(ngModel)]="company"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="documents-outline"></ion-icon>
      <ion-input disabled="{{isDisabled}}" type="text" placeholder="사업자등록번호" [(ngModel)]="company_regist_num"></ion-input>
    </ion-item>
  </ion-list>
  <ion-text class="ion-text-center">
    <p>{{error_msg}}</p>
  </ion-text>
  <ion-button expand="block" shape="round" color="success" (click)="moveToLogin()">
    회원가입
  </ion-button>
</ion-content>