<ion-footer>
  <ion-toolbar color="footer">
    <div class="top">
      <p (click)="moveToTerms()">이용약관</p>
      <p class="border"></p>
      <p (click)="moveToPolicy()">개인정보처리방침</p>
      <p class="border"></p>
      <p><a href="http://www.borderpeaceschool.or.kr/main#">인재 채용</a></p>
    </div>
    <div class="Copyright">
      <p>Copyrightⓒ2020 BorderPeaceSchool. ALL RIGHT RESERVED.</p>
    </div>
    <div class="bottom">
      <p class="title">국경선평화학교</p>
      <p>강원도 철원군 철원읍 금강산로 342-5</p>
      <p>사단법인 평화의씨앗들 이사장 박만규 I 국경선평화학교 대표 정지석</p>
      <p>전 화 : 033-910-2012 팩 스 : 033-910-2013</p>
      <p>이메일 : borderpeaceschool@gmail.com</p>
    </div>
  </ion-toolbar>
</ion-footer>
