<ion-footer>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="3.5"
          ><ion-note (click)="moveToTerms()">이용약관</ion-note></ion-col
        >
        <ion-col size="5" class="center"
          ><ion-note (click)="moveToPolicy()"
            >개인정보처리방침</ion-note
          ></ion-col
        >
        <ion-col size="3.5"><ion-note><a href="http://www.borderpeaceschool.or.kr/main#">인재채용</a></ion-note></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12"><ion-note>연락처 : 033-910-2012</ion-note></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12"
          ><ion-note>email : borderpeaceschool@gmail.com</ion-note></ion-col
        >
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
