ion-footer {
  ion-toolbar {
    background-color: #626262;
  }
}

.top {
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    padding-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .border {
    height: 20px;
    border: 1px solid #c4c4c4;
  }
  a {
    color: #c4c4c4;
    text-decoration: none;
    padding-top: 4px;
  }
}

.Copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin-top: 0px;
    font-size: 10px;
    text-align: center;
  }
}

.bottom {
  margin-left: 30px;
  .title {
    color: white;
    margin-top: 18px;
    font-size: 11px;
  }
  p {
    text-align: left;
    font-size: 11px;
  }
}
