ion-footer {
  ion-toolbar {
    height: 100px;
  }
}

ion-col {
  text-align: center;
  font-size: 13px;
}

a {
  color: #666666;
}

.center {
  border-left: 1px solid var(--ion-color-medium);
  border-right: 1px solid var(--ion-color-medium);
}
