<app-header></app-header>

<ion-content>
  <div class="container">
    <h1 style="font-weight: bold">홍보 영상</h1>
    <div id="group">
      <h1>인터뷰</h1>
      <div id="area">
        <div id="video" class="container3"></div>
      </div>
    </div>
    <div id="group">
      <h1>인터뷰</h1>
      <div id="area">
        <div id="video" class="container4"></div>
      </div>
    </div>
    <div id="group" style="margin-bottom: 20px">
      <h1>인터뷰</h1>
      <div id="area">
        <div id="video" class="container5"></div>
      </div>
    </div>
    <ion-button (click)="moveToMethod()" expand="block" color="main">
      후원하기
    </ion-button>
  </div>
  <app-footer></app-footer>
</ion-content>
