<app-header></app-header>

<ion-content>
  <div class="head">
    <div class="main">
      <p>
        후원금은<br />
        교육을 위해 사용됩니다.
      </p>
    </div>
    <img src="../../../assets/imgs/support.jpg" alt="" />
  </div>
  <div class="grp">
    <p class="head2">후원금은 이렇게 사용됩니다.</p>
    <p>
      후원금의 80% 이상은 반드시<br />
      교육을 위해 사용합니다
    </p>
    <img src="../../../assets/imgs/graph.PNG" />
  </div>

  <div class="support">
    <ion-button (click)="moveToMethod()" expand="block" color="main">
      후원하기
    </ion-button>
    <h2>홍보 영상</h2>
    <div class="line"></div>
    <div id="group">
      <div id="area">
        <div id="video" class="container3"></div>
      </div>
      <div id="area">
        <div id="video" class="container4"></div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
