* {
  margin: 0;
  padding: 0;
}

ion-header {
  ion-toolbar {
    height: 50px;
  }
}

.head {
  width: 100%;
  height: 180px;
  img {
    width: 100%;
    height: 180px;
  }
  .main {
    width: 100%;
    height: 180px;
    background-color: rgba($color: #000000, $alpha: 0.3);
    position: absolute;
  }
  p {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-left: 30px;
    margin-top: 40px;
  }
}
.grp {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1597e5;
  .head2 {
    font-size: 24px;
    margin: 24px 30px;
    color: white;
    // margin-left: 30px;
  }
  p {
    font-size: 16px;
    color: white;
    margin-left: 30px;
  }
}

.support {
  width: 100%;
  margin-top: 36px;
  h2 {
    font-size: 24px;
    color: #44a4e0;
    margin-top: 0px;
    margin-left: 30px;
    margin-bottom: 6px;
    font-weight: bold;
  }
  .line {
    margin-top: 0px;
    margin-bottom: 26px;
    border: 1px solid #44a4e0;
    width: 124px;
  }
  .btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ion-button {
    margin-top: 18px;
    margin-bottom: 36px;
    width: 300px;
    height: 40px;
    font-size: 20px;
  }
}

#group {
  #area,
  #area2 {
    position: relative; /* absolute는 부모가 relative일 때 부모를 따라간다. */
    width: 84%;
    padding-bottom: 56.25%; /* 16:9 비율 */
    margin-left: 8%;
    margin-bottom: 18px;
  }

  #area2 {
    margin-bottom: 36px;
  }

  #video {
    position: absolute;
    width: 100%; /* 부모에 맞게 꽉 채운다. */
    height: 100%;
  }
}
