* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin-top: 15px;
  }
}

#group {
  border: 2px solid black;
  h1 {
    text-align: center;
    margin: 2%;
  }
  margin-top: 2.5%;
  width: 95%;
}
#area {
  position: relative; /* absolute는 부모가 relative일 때 부모를 따라간다. */
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 비율 */
  margin-bottom: 0%;
}

#video {
  position: absolute;
  width: 100%; /* 부모에 맞게 꽉 채운다. */
  height: 100%;
}

.news {
  width: 90%;
  margin-top: 20px;
}
.news p {
  font-size: 20px;
}

ion-button {
  width: 80%;
  height: 45px;
  font-size: 1.3rem;
  margin: 20px 0;
  margin-top: 0px;
}
