div {
  width: 90%;
  border: 2px solid var(--ion-color-medium);
  border-radius: 15px;
  margin-top: 10%;
  margin-left: 5%;
  margin-bottom: 15%;

  h1 {
    margin-left: 30px;
  }
  p {
    margin-top: 0%;
    margin-left: 30px;
    margin-bottom: 6%;
  }
}

ion-button {
  width: 80%;
  height: 45px;
  margin-left: 10%;
  font-size: 1.3rem;
  margin-bottom: 5%;
}

.btnText {
  color: white;
  font-size: 1.3rem;
}
