.top {
  height: 35%;
  background-color: #44a4e0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  img {
    width: 70%;
    margin-top: 20px;
  }

  .profile {
    margin-top: 10px;
    width: 70%;
  }
}

.bottom {
  // height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 9%;
  ion-button {
    width: 80%;
    height: 45px;
    font-size: 18px;
    margin: 10px 0 10px 0;
  }
}
