<ion-content>
  <div class="top">
    <img src="assets/icon/Asset 7.svg" alt="" />
    <div class="profile">
      <h1>{{name}}</h1>
      <p>누적 후원금 : {{points}}원</p>
    </div>
  </div>
  <div class="bottom">
    <ion-button (click)="moveToAuth()" expand="block" shape="round" color="blue"
      >인증 카드</ion-button
    >
    <ion-button
      (click)="moveToModifiy_info()"
      expand="block"
      shape="round"
      color="blue"
      >기본정보 수정</ion-button
    >
    <ion-button
      (click)="moveToPayment_info()"
      expand="block"
      shape="round"
      color="blue"
      >결제 정보</ion-button
    >
    <ion-button
      (click)="moveToSetting()"
      expand="block"
      shape="round"
      color="blue"
      >설정</ion-button
    >
  </div>
</ion-content>
