.top {
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  img {
    width: 70%;
    margin-top: 20px;
  }

  .profile {
    margin-top: 10px;
    width: 70%;
    h1 {
      color: #44a4e0;
      font-size: 40px;
      text-align: left;
    }
    p {
      text-align: left;
      font-size: 20px;
    }
  }
}

.bottom {
  div {
    display: flex;
    height: 40px;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    p {
      margin: 0px;
      font-size: 18px;
      // margin-top: 10px;
      margin-left: 16px;
      vertical-align: middle;
    }
  }
  ._top {
    border-top: 2px solid #c4c4c4;
    display: flex;
    align-items: center;
  }
  ._bottom {
    border-bottom: 2px solid #c4c4c4;
  }
  ion-icon {
    font-size: 24px;
  }
}
