<app-header></app-header>

<ion-content>
  <div class="container">
    <!-- 아이디/비밀번호 찾기 선택 -->
    <ion-segment
      [(ngModel)]="selectTabs"
      (ionChange)="segmentChanged($event)"
      mode="ios"
    >
      <ion-segment-button value="email">
        <ion-label>이메일 찾기</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pw">
        <ion-label>비밀번호 찾기</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div class="input">
      <ion-item lines="none" *ngIf="selectTabs==='pw'">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-input
          type="text"
          placeholder="이메일"
          [(ngModel)]="email"
        ></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-input
          type="text"
          placeholder="이름"
          [(ngModel)]="name"
        ></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-icon slot="start" name="call-outline"></ion-icon>
        <ion-input
          type="text"
          placeholder="전화번호(-없이 입력을 해주세요.)"
          [(ngModel)]="call_num"
        ></ion-input>
      </ion-item>
      <p>{{error_msg}}</p>
      <ion-button
        expand="block"
        shape="round"
        color="blue"
        (click)="Find_email()"
        *ngIf="selectTabs==='email' "
      >
        <p class="btnText">아이디 찾기</p>
      </ion-button>
      <ion-button
        expand="block"
        shape="round"
        color="blue"
        (click)="Find_pw()"
        *ngIf="selectTabs==='pw' "
      >
        <p class="btnText">비밀번호 찾기</p>
      </ion-button>
    </div>
  </div>
</ion-content>
