<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <img src="assets/icon/Asset 7.svg" alt="" />
      <ion-button (click)="dismissModal()">
        <ion-icon color="white" name="close-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top">
    <div class="content">
      <h2 class="title">{{ name }}</h2>
      <p class="name">이름</p>
      <div class="img" *ngFor="let img of image">
        <img src="{{ img }}" alt="" />
      </div>
      <p class="text">{{ text }}</p>
    </div>
  </div>
  <div class="bottom"></div>
  <div class="comment">
    <div class="comment_num">
      <p>댓글</p>
    </div>
    <div class="comment_text">
      <p>asdf</p>
      <p>asdf</p>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar class="inp_tool">
    <div class="input">
      <ion-input
        type="text"
        placeholder="댓글을 작성해 주세요"
        [(ngModel)]="comment"
      ></ion-input>
      <div>
        <ion-icon
          name="paper-plane-outline"
          color="dark"
          (click)="writeComment()"
        ></ion-icon>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
