.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ion-segment {
  border: 1px solid rgba($color: #c4c4c4, $alpha: 0.5);
  background-color: white;
  width: 300px;
  height: 40px;
  margin-top: 20px;
  ion-segment-button {
    font-size: 1rem;
    margin: 0px;
    --border-width: 0;
    --padding-start: 0px;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-top: 0px;
    --background-checked: var(--ion-color-blue);
    --indicator-color: transparent !important;
    --color-checked: var(--ion-color-white);
  }
}

.res {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inp {
  width: 300px;
  background-color: #f4f5f7;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  ion-icon {
    zoom: 1.5;
    color: #c4c4c4;
    margin-left: 5px;
    margin-right: 5px;
  }
  p {
    color: #c4c4c4;
    padding-left: 8px;
  }
}

.err {
  width: 100%;
  // border: 1px solid red;
  text-align: center;
  color: red;
  p {
    margin-top: 5px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-button {
  width: 300px;
  height: 40px;
  font-size: 18px;
  margin-bottom: 10px;
}

.opne_date::placeholder {
  font-size: 12px;
}
