<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <img src="assets/icon/Asset 7.svg" alt="" />
      <ion-button (click)="dismissModal()">
        <ion-icon color="white" name="close-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="btn">
      <ion-button (click)="onClick()" expand="block" color="main">
        등록
      </ion-button>
    </div>
    <div class="input">
      <ion-input type="text" placeholder="제목" [(ngModel)]="title"></ion-input>
      <!-- <ion-icon start="end" name="attach-outline"></ion-icon> -->
    </div>
    <div class="article">
      <ion-textarea
        type="text"
        placeholder="내용을 입력해주세요"
        rows="23"
        [(ngModel)]="text"
      ></ion-textarea>
    </div>
  </div>
</ion-content>
