<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <img src="assets/icon/Asset 7.svg" alt="" />
      <ion-button (click)="dismissModal()">
        <ion-icon color="white" name="close-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title">
    <ion-input type="text" placeholder="제목" [(ngModel)]="title"></ion-input>
  </div>
  <ion-item class="text" lines="none">
    <ion-textarea
      cols="10"
      autoGrow="true"
      placeholder="본문"
      [(ngModel)]="text"
    ></ion-textarea>
  </ion-item>
  <div class="err">
    <p>{{ error_msg }}</p>
  </div>
  <div class="btn">
    <ion-button
      (click)="Enrollment()"
      expand="block"
      shape="round"
      color="main"
    >
      등록
    </ion-button>
  </div>
</ion-content>
