ion-list {
  ion-text {
    h1 {
      border: 3px solid var(--ion-color-light);
      border-radius: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  ion-button {
    margin-top: 40px;
  }
}
