<ion-content [fullscreen]="true">
  <div id="group">
    <h1>연예인 인터뷰</h1>
    <div id="area">
      <div id="video" class="container3"></div>
    </div>
  </div>
  <div id="group">
    <h1>관계자 인터뷰</h1>
    <div id="area">
      <div id="video" class="container4"></div>
    </div>
  </div>
  <div id="group">
    <h1>학생 인터뷰</h1>
    <div id="area">
      <div id="video" class="container5"></div>
    </div>
  </div>
  <ion-button (click)="moveTosupport()" expand="block" shape="round" color="success">
    후원하기
  </ion-button>
</ion-content>
