div {
  width: 95%;
  height: 85%;
  margin-top: 2.5%;
  margin-left: 2.5%;
  border: 2px solid var(--ion-color-dark);
  border-radius: 15px;
  iframe {
    border-radius: 5px;
  }
  h2 {
    text-align: center;
    padding: 0;
    margin: 2%;
  }
}
ion-button {
  width: 90%;
  margin: 5% 0 0 5%;
}
