<app-header></app-header>

<ion-content>
  <div class="container">
    <!-- 아이디/비밀번호 찾기 선택 -->
    <ion-segment
      [(ngModel)]="selectTabs"
      (ionChange)="segmentChanged($event)"
      mode="ios"
    >
      <ion-segment-button value="email">
        <ion-label>이메일 찾기</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pw">
        <ion-label>비밀번호 찾기</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div class="all">
      <div class="input">
        <div class="inp" lines="none" *ngIf="selectTabs==='pw'">
          <ion-icon slot="start" name="mail-outline"></ion-icon>
          <ion-input
            type="email"
            placeholder="이메일"
            [(ngModel)]="email"
          ></ion-input>
        </div>

        <div class="inp" lines="none">
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-input
            type="text"
            placeholder="이름"
            [(ngModel)]="name"
          ></ion-input>
        </div>

        <div class="inp" lines="none">
          <ion-icon slot="start" name="call-outline"></ion-icon>
          <ion-input
            type="number"
            placeholder="전화번호(-없이 입력을 해주세요.)"
            [(ngModel)]="call_num"
          ></ion-input>
        </div>
      </div>
      <div class="err">
        <p>{{error_msg}}</p>
      </div>
      <div class="btn">
        <ion-button
          (click)="Find_email()"
          expand="block"
          color="main"
          *ngIf="selectTabs==='email' "
        >
          아이디 찾기
        </ion-button>
        <ion-button
          (click)="Find_pw()"
          expand="block"
          color="main"
          *ngIf="selectTabs==='pw' "
        >
          비밀번호 찾기
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
