.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.all {
  margin-top: 15%;
  height: 70%;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  img {
    width: 85%;
  }
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    width: 300px;
    margin: 10px 0 10px 0;
    border-radius: 10px;
  }

  div:nth-child(2) {
    margin-bottom: var(--ion-margin, 0);
  }

  .inp {
    background-color: #f4f5f7;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ion-icon {
    zoom: 1.5;
    color: #c4c4c4;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.err {
  width: 100%;
  // border: 1px solid red;
  text-align: center;
  color: red;
  p {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 12px;
  }
}

.addons {
  width: 300px;
  margin-top: 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  margin-top: -10px;

  .autologin {
    display: flex;
    // justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 50%;
    ion-icon {
      color: var(--ion-color-medium);
      zoom: 1.6;
    }
  }

  p {
    color: var(--ion-color-medium);
    width: 50%;
    text-align: right;
  }
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  ion-button {
    width: 300px;
    height: 40px;
    font-size: 18px;
  }
}
.res {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  font-size: 14px;
  p {
    color: #44a4e0;
  }
}
