<ion-content class="content">
  <div class="all">
    <!-- logo 이미지 -->
    <div class="logo">
      <img src="assets/icon/Asset 22.svg" alt="" />
    </div>

    <!-- 입력 -->
    <div class="input">
      <div class="inp" lines="none" color="input">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-input
          type="email"
          placeholder="이메일"
          size="6"
          [(ngModel)]="email"
        ></ion-input>
      </div>

      <div class="inp" lines="none" color="input">
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-input
          [type]="showPw ? 'text' : 'password' "
          placeholder="비밀번호"
          class="pw"
          [(ngModel)]="pw"
        ></ion-input>
        <ion-icon
          class="eye"
          slot="end"
          [name]="PwToggleIcon"
          (click)="togglepw()"
        ></ion-icon>
      </div>
    </div>

    <div class="err">
      <p>{{error_msg}}</p>
    </div>

    <!-- 부가 기능 -->
    <div class="addons">
      <div class="autologin">
        <ion-icon
          slot="start"
          [name]="checkmark"
          (click)="togglecheck()"
        ></ion-icon>
        <p class="auto">자동 로그인</p>
      </div>
      <p (click)="moveToFind_email_pw()">아이디/비밀번호 찾기 ></p>
    </div>

    <!-- 버튼 -->
    <div class="btn">
      <ion-button
        class="login"
        (click)="moveToMain()"
        expand="block"
        color="main"
      >
        로그인
      </ion-button>
    </div>
    <div class="res">
      계정이 없으신가요?
      <p (click)="moveToRes()">회원가입하기</p>
    </div>
  </div>
</ion-content>
