<ion-content class="content">
  <div class="all">
    <!-- logo 이미지 -->
    <div class="logo">
      <img src="assets/icon/Asset 22.svg" alt="" />
    </div>

    <!-- 입력 -->
    <div class="input">
      <ion-item lines="none">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-input
          type="email"
          placeholder="이메일"
          size="6"
          [(ngModel)]="email"
        ></ion-input>
      </ion-item>

      <ion-item class="ion-margin-vertical" lines="none">
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-input
          [type]="showPw ? 'text' : 'password' "
          placeholder="비밀번호"
          class="pw"
          [(ngModel)]="pw"
        ></ion-input>
        <ion-icon
          slot="end"
          [name]="PwToggleIcon"
          (click)="togglepw()"
        ></ion-icon>
      </ion-item>
    </div>

    <div class="err">
      <p>{{error_msg}}</p>
    </div>

    <!-- 부가 기능 -->
    <div class="addons">
      <ion-item lines="none">
        <ion-icon
          slot="start"
          [name]="checkmark"
          (click)="togglecheck()"
        ></ion-icon>
        <p class="auto">자동 로그인</p>
      </ion-item>

      <p (click)="moveToFind_email_pw()">아이디/비밀번호 찾기</p>
    </div>

    <!-- 버튼 -->
    <div class="btn">
      <ion-button
        class="login"
        (click)="moveToMain()"
        expand="block"
        color="main"
      >
        로그인
      </ion-button>
      <ion-button
        class="res"
        (click)="moveToRes()"
        expand="block"
        fill="outline"
        color="main"
      >
        회원가입
      </ion-button>
    </div>
  </div>
</ion-content>
