.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.all {
  margin-top: 15%;
  height: 70%;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  img {
    width: 85%;
  }
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  ion-item {
    width: 90%;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    ion-icon {
      margin: 5px;
    }
  }

  ion-item:nth-child(2) {
    margin-bottom: var(--ion-margin, 0);
  }
}

.err {
  width: 100%;
  // border: 1px solid red;
  text-align: center;
  color: red;
  p {
    margin-top: 5px;
    margin-bottom: 0%;
  }
}

.addons {
  width: 90%;
  margin-top: 0%;
  margin-left: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  ion-item {
    width: 50%;
    ion-icon {
      color: var(--ion-color-medium);
      margin: 0%;
      margin-left: -18px;
    }
    p {
      color: var(--ion-color-medium);
      width: 100%;
      text-align: left;
    }
  }

  p {
    color: var(--ion-color-medium);
    width: 50%;
    text-align: right;
  }
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  ion-button {
    width: 80%;
    height: 45px;
    font-size: 1.3em;
  }

  .res {
    margin-top: 15%;
  }
}
