<app-header></app-header>
<ion-content>
  <div class="container">
    <h2>비밀번호 재확인</h2>
    <div class="ion-margin-vertical" lines="none" color="input">
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-input
        [type]="showPw ? 'text' : 'password' "
        placeholder="비밀번호"
        class="pw"
        [(ngModel)]="pw"
      ></ion-input>
      <ion-icon
        slot="end"
        [name]="PwToggleIcon"
        (click)="togglepw()"
      ></ion-icon>
    </div>
    <div class="err">
      <p>{{error_msg}}</p>
    </div>
    <ion-button expand="block" color="blue" (click)="moveToinfo()">
      수정 하기
    </ion-button>
  </div>
</ion-content>
