<ion-content>
  <div class="container">
    <h2>비밀번호 재확인</h2>
    <ion-item lines="none">
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-input
        [type]="showPw ? 'text' : 'password' "
        placeholder="비밀번호"
        class="pw"
        [(ngModel)]="pw"
      ></ion-input>
      <ion-icon
        slot="end"
        [name]="PwToggleIcon"
        (click)="togglepw()"
      ></ion-icon>
    </ion-item>
    <p>{{error_msg}}</p>
    <ion-button
      expand="block"
      shape="round"
      color="success"
      (click)="moveToinfo()"
    >
      수정하기
    </ion-button>
  </div>
</ion-content>
