<app-header></app-header>

<ion-content>
  <div class="container">
    <!-- <div id="area">
      <div id="video" class="container1"></div>
    </div>
    <div id="area">
      <div id="video" class="container2"></div>
    </div> -->
    <div class="article">
      <ion-text>
        <!-- <h1>{{campaign1}}</h1>
        <p>{{campaigntext1}}</p> -->
        <h1>{{campaign2}}</h1>
        <p>{{campaigntext2}}</p>
      </ion-text>
    </div>
    <div id="faq">
      <h1>FAQ</h1>
      <div class="line"></div>
      <ul>
        <li>
          <input type="checkbox" checked />
          <i></i>
          <h2>{{Q1}}</h2>
          <p>{{A1}}</p>
        </li>
        <li>
          <input type="checkbox" checked />
          <i></i>
          <h2>{{Q2}}</h2>
          <p>{{A2}}</p>
        </li>
        <li>
          <input type="checkbox" checked />
          <i></i>
          <h2>{{Q3}}</h2>
          <p>{{A3}}</p>
        </li>
      </ul>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
