<app-header></app-header>

<ion-content>
  <div class="container">
    <div class="article">
      <ion-text>
        <h1>이달의 평화문구</h1>
        <p>{{campaigntext1}}</p>
      </ion-text>
    </div>
    <div class="img">
      <div class="text">
        <h1>평화란?</h1>
        <p>{{campaigntext2}}</p>
      </div>
      <img src="{{image.img1}}" alt="" />
    </div>
    <div id="faq">
      <h1>FAQ</h1>
      <div class="line"></div>
      <ul>
        <li>
          <input type="checkbox" checked />
          <i></i>
          <h2>{{Q1}}</h2>
          <p>{{A1}}</p>
        </li>
        <li>
          <input type="checkbox" checked />
          <i></i>
          <h2>{{Q2}}</h2>
          <p>{{A2}}</p>
        </li>
        <li>
          <input type="checkbox" checked />
          <i></i>
          <h2>{{Q3}}</h2>
          <p>{{A3}}</p>
        </li>
      </ul>
    </div>
    <div class="video">
      <h1>소개 영상</h1>
      <div class="line"></div>
    </div>
    <div id="area">
      <div id="video1" class="container1"></div>
    </div>
    <div id="area">
      <div id="video2" class="container2"></div>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
