<app-header></app-header>

<ion-content>
  <swiper
    #swiper
    [slidesPerView]="1"
    [spaceBetween]="30"
    [centeredSlides]="true"
    [autoplay]="{
      delay: 4000,
      disableOnInteraction: false
    }"
    [loop]="true"
    [pagination]="{
      clickable: true
    }"
    [navigation]="true"
    class="mySwiper"
  >
    <ng-template swiperSlide>
      <img src={{image1}} alt="" />
    </ng-template>
    <ng-template swiperSlide>
      <img href={{image2}} alt="" />
    </ng-template>
    <ng-template swiperSlide>
      <img href={{image3}} alt="" />
    </ng-template>
  </swiper>
  <div class="exp">
    <div class="one">
      <img href={{image4}} />
      <p>{{peacetext1}}</p>
    </div>
    <div class="two">
      <img href={{image5}} />
      <p>{{peacetext2}}</p>
    </div>

    <div class="study">
      <h2>피스메이커 교육</h2>
      <div class="line"></div>
      <swiper #swiper [config]="config">
        <ng-template swiperSlide>
          <img href={{image6}} alt="" />
          <div class="main">
            <p class="title">{{edutitle1}}</p>
            <p class="text">
              {{edutext1}}
            </p>
            <ion-button fill="outline" color="white" (click)="moveTostudy1()">
              더보기
            </ion-button>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <img href={{image7}} alt="" />
          <div class="main">
            <p class="title">{{edutitle2}}</p>
            <p class="text">
              {{edutext2}}
            </p>
            <ion-button fill="outline" color="white" (click)="moveTostudy2()">
              더보기
            </ion-button>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <img href={{image8}} alt="" />
          <div class="main">
            <p class="title">{{edutitle3}}</p>
            <p class="text">
              {{edutext3}}
            </p>
            <ion-button fill="outline" color="white" (click)="moveTostudy3()">
              더보기
            </ion-button>
          </div>
        </ng-template>

        <ng-template swiperSlide> </ng-template>
      </swiper>
    </div>

    <div class="grp">
      <div class="info">
        <p class="head">후원금은 이렇게 사용됩니다.</p>
        <p>
          후원금의 80% 이상은 반드시<br />
          교육을 위해 사용합니다.
        </p>
        <div class="img">
          <div class="text">
            <h1>90%</h1>
            <p>2020사업수행비</p>
            <p>(교육 프로그램비)</p>
          </div>
          <img src="../../../assets/imgs/grahp.png" />
        </div>
      </div>
    </div>

    <div class="support">
      <h2>후원</h2>
      <div class="line"></div>
      <div id="group">
        <div id="area">
          <div id="video" class="container4">
            <iframe
              width="100%"
              height="100%"
              src="https://www.youtube.com/embed/0JQ3L6M1Lb8"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
      <div class="btn">
        <ion-button (click)="moveToSupport()" expand="block" color="main">
          후원하기
        </ion-button>
      </div>
    </div>

    <div class="news">
      <h2>뉴스</h2>
      <div class="line"></div>
      <p>
        {{newstitle}}
      </p>
      <a href="{{newsUrl}}"><img href={{image9}} /></a>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
