ion-toolbar {
  height: 25px;
}

ion-img {
  width: 98%;
  border-radius: 5px;
  margin-left: 1.3%;
  margin-top: 3%;
}
.a,
.b,
.c {
  position: relative;
  ion-text {
    position: absolute;
    top: 3em;
    left: 0.5em;
    width: 90%;
    height: 100%;
    color: #000000;
    background-color: rgba($color: #ffffff, $alpha: 0.3);
    font-weight: bold;
    h1 {
      font-size: 30px;
    }
  }
}
