<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper
    [slidesPerView]="1"
    [spaceBetween]="30"
    [centeredSlides]="true"
    [autoplay]="{
      delay: 2500,
      disableOnInteraction: false
    }"
    [loop]="true"
    [pagination]="{
      clickable: true
    }"
    [navigation]="true"
    class="mySwiper"
  >
    <ng-template swiperSlide>
      <img src="assets/imgs/img1.jpg" alt="">
    </ng-template>
    <ng-template swiperSlide>
      <img src="assets/imgs/img1.jpg" alt="">
    </ng-template>
    <ng-template swiperSlide>
      <img src="assets/imgs/img1.jpg" alt="">
    </ng-template>
  </swiper>
  <div class="peace1">
    <img src="assets/imgs/img1.jpg">
    <h1>{{peace1}}</h1>
    <p>{{peacetext1}}</p>
  </div>
  <div class="peace2">
    <img src="assets/imgs/img1.jpg">
    <h1>{{peace2}}</h1>
    <p>{{peacetext2}}</p>
  </div>
  <div class="peace3">
    <img src="assets/imgs/img1.jpg">
    <h1>{{peace3}}</h1>
    <p>{{peacetext3}}</p>
  </div>
  <ion-footer>
    <ion-toolbar>
      
    </ion-toolbar>
  </ion-footer>
</ion-content>