<app-header></app-header>

<ion-content [fullscreen]="true">
  <!-- 회원 선택 -->
  <ion-segment
    [(ngModel)]="selectTabs"
    (ionChange)="segmentChanged($event)"
    mode="ios"
  >
    <ion-segment-button value="personal">
      <ion-label>개인</ion-label>
    </ion-segment-button>
    <ion-segment-button value="company">
      <ion-label>기업</ion-label>
    </ion-segment-button>
    <ion-segment-button value="institution">
      <ion-label>기관</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- 일반 회원 -->
  <div class="res">
    <!-- 이메일 -->
    <ion-item lines="none">
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-input
        type="text"
        placeholder="이메일"
        [(ngModel)]="email"
        disabled
      ></ion-input>
    </ion-item>
    <!-- 비밀번호 -->
    <ion-item lines="none">
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-input
        [type]="showPw ? 'text' : 'password' "
        placeholder="비밀번호"
        class="pw"
        [(ngModel)]="pw"
      ></ion-input>
      <ion-icon
        slot="end"
        [name]="PwToggleIcon"
        (click)="togglepw()"
      ></ion-icon>
    </ion-item>
    <!-- 비밀번호 확인 -->
    <ion-item lines="none">
      <ion-icon slot="start" name="bag-check-outline"></ion-icon>
      <ion-input
        [type]="showPw ? 'text' : 'password' "
        placeholder="비밀번호 확인"
        class="pw"
        [(ngModel)]="check_pw"
      ></ion-input>
      <ion-icon
        slot="end"
        [name]="PwToggleIcon"
        (click)="togglepw()"
      ></ion-icon>
    </ion-item>
    <!-- 이름 -->
    <ion-item lines="none">
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-input type="text" placeholder="이름" [(ngModel)]="name"></ion-input>
    </ion-item>
    <!-- 직급 -->
    <ion-item lines="none" *ngIf="selectTabs!=='personal' ">
      <ion-icon slot="start" name="pricetag-outline"></ion-icon>
      <ion-input type="text" placeholder="직급" [(ngModel)]="rank"></ion-input>
    </ion-item>
    <!-- 생년월일 -->
    <ion-item lines="none" *ngIf="selectTabs==='personal' ">
      <ion-icon slot="start" name="calendar-number-outline"></ion-icon>
      <ion-label>생년월일</ion-label>
      <ion-datetime
        displayFormat="YYYY-MM-DD"
        value="2012-12-15"
        [(ngModel)]="date"
        cancel-text="취소"
        done-text="확인"
      ></ion-datetime>
    </ion-item>
    <!-- 전화번호 -->
    <ion-item lines="none">
      <ion-icon slot="start" name="call-outline"></ion-icon>
      <ion-input
        type="number"
        placeholder="전화번호"
        [(ngModel)]="call_num"
      ></ion-input>
    </ion-item>

    <!-- 사업자 회원 -->
    <!-- 회사명 -->
    <ion-item lines="none" *ngIf="selectTabs==='company' ">
      <ion-icon slot="start" name="business-outline"></ion-icon>
      <ion-input
        type="text"
        placeholder="회사명"
        [(ngModel)]="company"
      ></ion-input>
    </ion-item>
    <!-- 사업자등록번호 -->
    <ion-item lines="none" *ngIf="selectTabs==='company' ">
      <ion-icon slot="start" name="documents-outline"></ion-icon>
      <ion-input
        type="number"
        placeholder="사업자등록번호"
        [(ngModel)]="company_regist_num"
      ></ion-input>
    </ion-item>

    <!-- institution -->
    <!-- 기관명 -->
    <ion-item lines="none" *ngIf="selectTabs==='institution' ">
      <ion-icon slot="start" name="business-outline"></ion-icon>
      <ion-input
        type="text"
        placeholder="기관명"
        [(ngModel)]="institution"
      ></ion-input>
    </ion-item>

    <p>{{error_msg}}</p>
    <ion-button
      expand="block"
      shape="round"
      color="blue"
      (click)="moveToChange()"
    >
      <p class="btnText">수정 하기</p>
    </ion-button>
  </div>
</ion-content>
