ion-content {
  margin-top: 20px;
}

ion-row {
  ion-col {
    ion-img {
      display: inline-block;
      width: 100%;
      height: 100px;
      overflow: hidden;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}
