<app-header></app-header>

<ion-content>
  <div class="body" *ngFor="let user of users" (click)="openModal(user)">
    <p class="name">{{user.name}}</p>
    <p class="text">{{user.text}}</p>
    <div class="img">
      <img [src]="user.img[0]" alt="" />
      <img [src]="user.img[1]" alt="" />
    </div>
    <div class="good">
      <ion-item lines="none">
        <ion-icon name="heart-sharp" color="red"></ion-icon>
        <p>{{user.good}}</p>
      </ion-item>
    </div>
    <div class="bottom"></div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="main" (click)="write()">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <app-footer></app-footer>
</ion-content>
