ion-tab-bar {
  // position: absolute;
  margin-bottom: 3%;
  width: 90%;
  --background: rgba(225, 225, 225, 0.5);
  align-self: center;
  border-radius: 14px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.04),
    0px 1px 3px 0px rgba(0, 0, 0, 0.02);

  // --border: none;
  // --background: rgba(225, 225, 225, 0.5);
  // margin: 16px 20px;
  // border-radius: 14px;
  // box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.04),
  //   0px 1px 3px 0px rgba(0, 0, 0, 0.02);
}
ion-icon {
  color: black;
}
