<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab($event)">
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="main">
      <ion-icon [name]="selectTab == 'main' ? 'home' : 'home-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="campagin">
      <ion-icon [name]="selectTab == 'campagin' ? 'easel' : 'easel-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="news">
      <ion-icon [name]="selectTab == 'news' ? 'newspaper' : 'newspaper-outline'"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="participation">
      <ion-icon [name]="selectTab == 'participation' ? 'earth' : 'earth-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="support">
      <ion-icon [name]="selectTab == 'support' ? 'cash' : 'cash-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button [tab]="page">
      <ion-icon [name]="selectTab == page ? 'person' : 'person-outline'"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>