<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main">
      <!-- <ion-icon
        [name]="selectTab == 'main' ? 'home' : 'home-outline'"
      ></ion-icon> -->
      <img src="../../assets/icon/Asset 1.svg" alt="" />
    </ion-tab-button>

    <ion-tab-button tab="campagin">
      <img src="../../assets/icon/Asset 2.svg" alt="" />
    </ion-tab-button>

    <ion-tab-button tab="news">
      <img src="../../assets/icon/Asset 3.svg" alt="" />
    </ion-tab-button>

    <ion-tab-button tab="support" (click)="clickTab1()">
      <img src="../../assets/icon/Asset 4.svg" alt="" />
    </ion-tab-button>

    <ion-tab-button [tab]="page" (click)="clickTab2()">
      <img src="../../assets/icon/Asset 5.svg" alt="" />
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
