.vertical-menu {
  width: 90%;
  height: 75%;
  overflow-y: auto;
  margin-top: 2%;
  margin-left: 5%;
}

.under {
  ion-item {
    font-size: 0.9rem;
  }
  ion-icon {
    margin: 0;
  }
  p {
    margin-top: 0%;
    font-size: 0.8rem;
    color: red;
  }
}
ion-button {
  width: 80%;
  height: 45px;
  font-size: 1.3em;
  margin-left: 10%;
}
