.text {
  margin-left: 10%;
  margin-right: 10%;
  ion-text {
    h3 {
      padding-top: 5px;
      padding-bottom: 5px;
      border: 2px solid var(--ion-color-medium);
    }
  }
}

.input {
  ion-item {
    border: 2px solid var(--ion-color-medium);
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
  }
}

.btn {
  width: 80%;
  margin-left: 10%;
  margin-top: 20%;
  p {
    font-size: 0.8rem;
  }
}
