<ion-header>
  <ion-toolbar> </ion-toolbar>
</ion-header>

<ion-content>
  <div class="vertical-menu">
    □ 개인(신용)정보 수집 및 이용동의<br />
    <br />
    피스메이커는 정보통신망 이용촉진 및 정보보호 등에 관한
    법률(이하’정보통신망법’)과 개인정보 보호법 등 국내 관련 법령을 준수합니다,
    피스페이커의 회원 가입을 신청하시는 이용자에게 개인정보의 수집항목 및
    이용목적, 개인정보의 보유 및 이용기간에 대하여 아래와 같이 안내드립니다.
    <br />
    <br />
    1. 수집하는 개인정보 항목<br />
    1) 회원가입 시 : 아이디(이메일), 비밀번호, 이름, 휴대전화번호<br />
    2) 이름, 생년월일, 성별, 통신사명, 휴대전화번호, 동일인식별정보(CI),
    중복가입확인정보(DI), 내/외국인정보, 카드사명, 카드번호<br />
    3) 수취인정보(이름, 연락처, 주소), 숙박 예약자 및 동반인정보(국/영문 이름,
    생년월일 등), 개인고유통관부호<br />
    4) 서비스 이용기록, 접속로그, 쿠키, 접속IP정보, 결제기록, 단말기 정보(OS종류
    및 버전) <br />
    5) 피스페이커 서비스 이용자에 한하여 이름, 연락처, 음식점 소재지, 개인 위치
    정보<br />
    <br />
    2. 수집 및 이용목적<br />
    1) 서비스 가입, 개인 식별, 본인 확인, 고객 상담, 서비스 이용 철회 처리 등의
    회원 관리<br />
    2) 상품 구매 및 판매에 따른 본인인증, 구매 및 요금 결제, 상품 및 서비스의
    배송<br />
    3) 서비스 방문 및 이용 기록의 분석과 서비스 이용에 대한 통계 등을 기반으로
    맞춤형 서비스 제공 및 기존 서비스 개선, 신규 서비스 요소 개발 등 서비스 이용
    환경 구축<br />
    4) 부정 이용(거래) 등의 법령 및 이용약관을 위배하거나 부정 이용 행위를
    포함하여 서비스의 원활한 운영에 지장을 주는 이용자에 대한 제한 조치 및 제재,
    계정도용 및 부정거래 방지, 약관 개정 등의 고지사항 전달, 분쟁조정을 위한
    기록 보존, 민원처리 등 이용자 보호 및 서비스 운영<br />
    5) 특정 금융거래정보의 보고 및 이용 등에 관한 법률 상의 고객 확인 의무 및
    강화된 고객 확인 수행<br />
    6) 광고성 정보 제공 등 마케팅 및 프로모션 소식 전달, 이벤트 정보 및 참여기회
    제공<br />
    7) 서비스 이용기록과 접속 빈도 분석, 서비스 이용에 대한 통계, 서비스 분석 및
    통계에 따른 맞춤 서비스 제공 및 광고 게재<br />
    8) 보안, 프라이버시, 안전 측면에서 이용자가 안심하고 이용할 수 있는 서비스
    이용환경 구축<br />
    <br />
    3. 보유 및 이용기간, 파기<br />
    이용자의 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되거나,
    회원 탈퇴 요청 시 지체없이 재생이 불가능한 방법으로 파기합니다. 단, 아래의
    정보에 대해서는 다음과 같은 이유로 명시한 기간 동안 보관합니다. <br />
    1) 부정거래 방지 및 금융사고 조사를 위하여 회사의 내부 방침에 따라 개인정보
    수집∙이용 동의 철회 시 탈퇴 데이터 베이스에서 6개월간 보관 후 삭제. <br />
    2) 전자상거래 등에서의 소비자 보호에 관한 법률, 전자금융거래법,
    통신비밀보호법 등 법령에서 일정기간 정보의 보관을 규정하는 경우, 이 기간
    동안 법령의 규정에 따라 개인정보를 보관하며, 다른 목적으로는 절대 이용하지
    않습니다. <br />
    - 전자상거래 등에서의 소비자보호에 관한 법률 : 대금결제 및 재화 등의 공급에
    관한 기록(5년), 계약 또는 청약철회 등에 관한 기록(5년), 소비자의 불만 또는
    분쟁 처리에 관한 기록(3년), 표시·광고에 관한 기록(6개월) <br />
    - 전자금융거래법 : 전자금융 거래에 관한 기록(5년) <br />
    - 위치정보의 보호 및 이용 등에 관한 법률 : 위치정보취급대장(6개월)<br />
    - 통신비밀보호법 : 웹사이트 방문 기록 (3개월)<br />
    3) 전자적 파일 형태의 경우 복구 및 재생이 되지 않도록 기술적인 방법을
    이용하여 안전하게 삭제하며, 출력물 등은 분쇄하거나 소각하는 방식 등으로
    파기합니다.<br />
    4) 피스페이커에서는 ‘개인정보 유효기간제’에 따라 1년간 서비스를 이용하지
    않은 회원의 개인정보를 별도로 분리 보관하여 관리하고 있습니다.<br />
    <br />
    4. 동의를 거부할 권리 및 거부 경우의 불이익<br />
    귀하께서는 피스페이커가 위와 같이 수집하는 개인정보에 대해, 동의하지 않거나
    개인정보를 기재하지 않음으로써 거부할 수 있습니다. 다만, 이때 회원에게
    제공되는 서비스가 제한될 수 있습니다.<br />
  </div>
  <div class="under">
    <ion-item lines="none">
      <ion-icon
        slot="start"
        [name]="checkmark"
        (click)="togglecheck()"
      ></ion-icon>
      개인정보 수집 및 이용 동의
    </ion-item>
    <ion-text color="red" class="ion-text-center">
      <p>{{error_msg}}</p>
    </ion-text>
  </div>
  <ion-button (click)="onClick()" expand="block" shape="round" color="success">
    후원하기
  </ion-button>
</ion-content>
