ion-list {
  margin: 30px 35px 0 15px;
  // border: 1px solid red;
  padding: 0;
  ion-item {
    border: 1px solid var(--ion-color-light);
    border-radius: 10px;
    ion-input {
      width: 90%;
    }
    ion-icon {
      color: var(--ion-color-dark);
      font-size: 24px;
    }
  }
}
ion-row {
  ion-note {
    font-size: 0.9rem;
    margin-top: 0;
  }
  .note {
    border: none;
  }
  ion-icon {
    font-size: 24px;
    color: var(--ion-color-medium);
    margin: 0 10px 0 13%;
  }
}
p {
  color: red;
  font-size: 0.8rem;
  margin-top: 50px;
}
ion-button {
  width: 80%;
  height: 7%;
  font-size: 1.3em;
  margin-left: 8%;
}
