.input,
.logo,
.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input ion-item {
  border: 1px solid black;
  border-radius: 10px;
  width: 90%;
  margin-top: 20px;
}
.input ion-icon {
  font-size: 24px;
}

.addons {
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  // border: 1px solid red;
}

.addons ion-icon {
  color: var(--ion-color-medium);
  margin: 0;
  font-size: 24px;
  // border: 1px solid red;
  margin-left: -18px;
}

.addons p {
  color: var(--ion-color-medium);
  font-size: 14px;
  // border: 1px solid red;
}

// .addons .find {
//   margin-top: 3%;
//   margin-left: 18%;
// }

.btn ion-text {
  font-size: 0.8rem;
  color: red;
}

.btn ion-button {
  width: 80%;
  height: 45px;
  font-size: 1.3em;
}

.btn .res {
  margin-top: 40%;
  border: 1px solid var(--ion-color-success);
  border-radius: 50px;
  --border-radius: 50px;
}
